{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load socialaccount %}

{% block page_title %}
Login Page
{% endblock page_title %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center text-uppercase mb-3">
            <b>
              {% if request.GET.next != '/courier/' %}
              Customer
              {% else %}
              Courier
              {% endif %}
            </b>
          </h4>

          <form method="post">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_label "Email" %}
            {% bootstrap_field form.username show_label=False placeholder="Email" %}
            {% bootstrap_field form.password %}
            <div class="d-grid">
              <button class="btn btn-warning">Sign-In</button>
            </div>
            <p class="text-center mt-3">
              New to Tasty Express?
              <a href="/sign-up/?next={{ request.GET.next }}"><b>Sign Up</b></a>
            </p>
            <p class="d-grid">
              <a
                href="{% provider_login_url 'google' %}?next={{ request.GET.next }}"
                class="btn btn-outline-primary"
                >Sign In with Google</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
