{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    {% block head %}
    {% endblock head %}
    <title>{% block page_title %}{% endblock page_title %}</title>
  </head>
  <body>
    <nav
      class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} navbar-light bg-warning"
    >
      <div class="container">
        <a class="navbar-brand" href="/">Tasty Express</a>

        {% if not request.user.is_authenticated %}
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav">
            <li
              class="nav-item {% if request.GET.next != '/courier/' %}active{% endif %}"
            >
              <a
                class="nav-link active"
                href="/sign-in/?next=/customer/"
                aria-current="page"
                >Customer</a
              >
            </li>
            <li
              class="nav-item {% if request.GET.next != '/customer' %}active{% endif %}"
            >
              <a class="nav-link" href="/sign-in/?next=/courier/">Courier</a>
            </li>
          </ul>
        </div>
        {% else %}
        <form class="form-inline" method="post" action="{% url "sign-out" %}">
          {% csrf_token %}
          <span class="me-4">{{ request.user.get_full_name|title }}</span>
          <button type="submit" href="/sign-out" class="btn btn-outline-dark">
            Sign Out
          </button>
        </form>
        {% endif %}
      </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <footer class="text-center my-5">&copy; 2024 Tasty Express</footer>

    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

    {% for message in messages %}
    <div
      class="toast {{ message.tags }} position-fixed top-0 end-0 p-3"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <strong class="me-auto">Tasty Express</strong>
        <small>2 secs ago</small>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body" data-bs-message="{{message}}">
        {{ message | safe }}
      </div>
    </div>
    {% endfor %}

    <script>
      let toastEl = document.querySelector('.toast');
      let toast = new bootstrap.Toast(toastEl);
      {% for message in messages %}
      toast.show();
      {% endfor %}
    </script>
  </body>
</html>
